.row.items-edit
    .col-md-8.col-md-offset-2
        .panel.panel-default.item.new
            .panel-body.text-center
                %form{action: "/", method: "post", id: "new"}
                    %button.btn-editor.icon-plus{type: "submit"}
        - @list.each do |item|
            .panel.panel-default.item{:'data-id' => item.id}
                .panel-body.center-vertical-xs
                    .col-xs-10
                        .row.center-vertical-sm
                            .col-sm-4
                                %span.item-title{contenteditable: true}=item.title
                            .col-sm-8
                                %span.item-content{contenteditable: true}=item.content
                    .col-xs-2.text-right
                        .status-icon
                            %form{action: "/#{item.id}", method: "post"}
                                %input{type: "hidden", name: "_method", value: "delete"}
                                %button.delete.btn-editor.icon-remove{type: "submit"}
                            =icon 'spinner-4', class: 'spinner'

- @scripts << "//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"
- @scripts << "/vendor/bootstrap/dist/js/bootstrap.min.js"
- @scripts << '/js/edit.js'