- @list.each do |item|
    .panel.panel-default.col-md-8.col-md-offset-2
        .panel-body.center-vertical-sm
            .col-sm-4
                %span.item-title=item.title
            .col-sm-8
                %span.item-content=item.content