!!!
%html
    %head
        %link(rel="stylesheet" href="/css/style.min.css")
        %link(rel="icon" href="/favicon.ico")
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")
        %link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')
        %title= @title
    %body
        .container
            #main
                %header
                    %h1=settings.title
                    .row
                - unless session[:auth].nil?
                    %p.small.text-center
                        = "logged in as #{session[:auth][:info][:email]}."
                        %a{href: '/logout'} Log out?
                =yield
                %footer
                    .row
                        .col-md-6.col-md-offset-3.text-center
                            %a{href: '/login'}=icon ['earth', 'fire', 'globe', 'gift', 'happy', 'leaf', 'lightning', 'map', 'mug', 'pacman', 'rocket', 'star', 'trophy', 'wand', 'airplane'].sample, style: 'font-size: 48px;'
        - @scripts.each do |src|
            %script{src: src}
