.row
    .col-md-8.col-md-offset-2.text-center
        %h2 403 Unauthorized
        %p.lead I'm sorry, Dave. I'm afraid I can't do that.
        %p Perhaps you'd like to <a href="/logout">log out</a> and try again?